@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        height: 100vh;
    }

    img {
        max-width: 10rem;
        max-height: 10rem;
    }

    h1 {
        color: #01c1d4;
    }

    .card {
        min-width: 200px;
        max-width: 400px;
    }

    #logo {
        width: 5rem;
    }
}